<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControladorPages</servlet-name>
        <servlet-class>ControladorPages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidacionIngreso</servlet-name>
        <servlet-class>ValidacionIngreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserControler</servlet-name>
        <servlet-class>UserControler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorPages</servlet-name>
        <url-pattern>/ControladorPages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidacionIngreso</servlet-name>
        <url-pattern>/ValidarIngreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserControler</servlet-name>
        <url-pattern>/UserControler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
