/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Oceania
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120208
*/

* {
	margin: 0%;
	padding: 0%;
}

a {
	color: #1D68AB;
	text-decoration: none;
}

a:hover{
	text-decoration: overline;
        
}

html {
	background: #CFD5DE url(images/img01.jpg) top left repeat-x;
}

body {
	background: url(images/fondo.png) fixed;
        background-size: 100% 100%;
	color: #6B7C93;
	font-size: 130%;
        
}

body,input {
	font-family: Arial, sans-serif;
}

br.clearfix {
	clear: both;
}

strong {
	color: #333333;
}

h1,h2,h3,h4 {
	text-transform: lowercase;
	text-shadow: 0 2px 2px #000000;
}

h2 {
	font-size: 225%;
}

h2,h3,h4 {
	color: #ab601d;
	margin-bottom: 7%;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 125%;
}

img.alignleft {
	margin: 31.25% 125% 125% 0;
	float: left;
}

img.aligntop {
	margin: 31.25% 0 125% 0;
}

.log {
    position: relative;
    padding-left: 10%;
    width:28%;
    height:25%;
    top:10%;
    z-index: 1;
    float:left;
        
}

p {
	margin-bottom: 15%;
        
}

ul {
	margin-bottom: 15%;
}

ul h4 {
	margin-bottom: 0.35em;
}

.box {
	overflow: hidden;
	margin: 0 0 1% 0;
        position:relative;
        top:3%;
        z-index: 10;
        text-align: justify
}

#box{
    overflow: hidden;
	margin: 0 0 1% 0;
        position:relative;
        top:3%;
        z-index: 10;
        text-align: justify

}

#box2{
    display:none;
}



#content {
        
	padding: 5%;
        padding-top: 15%;
	width: 55%;
	background: #EAEEF2 url(images/img05.jpg) top left repeat-x;
	border-radius: 10px;
	border: solid 2px #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
        text-align: justify;
        position: relative;
        z-index: 10;
}

#footer {
	margin: 4% 0 auto 0;
	text-align: center;
	color: #626E7F;
	text-shadow: 0 1px 0 #FFFFFF;
}

#footer a {
	color: #626E7F;
}

#header {
	background: #2C84AF url(images/img03.jpg) top left no-repeat ;
        background-size: 100%;
	color: #FFFFFF;
	height: 100%;
	position: relative;
	border-radius: 10px;
	border-top: solid 1px #96D0F7;
	border-bottom: solid 1px #0C3459;
        font-size: 80%;
        z-index: 5;
}

#logo {
	top: 5%;
	height: 14%;
	position: absolute;
	left: 5%;
	line-height: 14%;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#logo h1 {
	font-size: 50%;
	text-shadow: 0 2px 2px #0E3E68;
}

#truck {
       
        float:right;
        height:20%;
        width:20%
        
}
#truck2 {
    left: 20%;
    position:relative;
    height:20%;
    width:20%
        
        
}
        
#menu {
	position: relative;
	line-height: 10%;
        text-align: right;
        width:99%;
        padding: 1%;
        height: 1em;
        z-index: 10;
        right:1%
}

#menu a {
	
	color: #FFFFFF;
	font-size: 130%;
}

#menu ul {
	list-style: none;
        width: 100%;
        height:100%;
        
}

#menu ul li {
	padding: 3%;
	display: inline;
	text-shadow: 0 1px 1px #0E3E68;
}

#menu ul li.current_page_item {
	background: #56AFD8 url(images/img04.jpg) top left no-repeat;
	border-top: solid 1px #82D9ED;
	border-bottom: solid 1px #24627C;
	border-radius: 5px;
}

#menu ul li.last {
	padding-right: 0%;
}

#page {
	position: relative;
	margin: 2% 0 2% 0;
        right:26%;
	width: 100%;
        z-index: 10;
        left:0%;
        
            
}

#page .section-list {
	padding-left: 0;
	list-style: none;
}

#page .section-list li {
	clear: both;
	padding: 25% 0 25% 0;
}

#page ul {
	list-style: none;
}

#page ul li {
	padding: 2% 0 2% 0;
	border-top: dotted 1px #C5CDD8;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#search input.form-submit {
	background: #B87A23;
	padding: 2%;
	color: #FFFFFF;
	border: 0;
	margin-left: 1em;
}

#search input.form-text {
	padding: 10px;
	border: dotted 1px #569DBF;
}

#sidebar {
	background: #EAEEF2 url(images/img05.jpg) top left repeat-x;
	padding: 2%;
	border-radius: 10px;
	text-shadow: 0 1px 0 #FFFFFF;
        height: 100%;
        left:50%;
        width: 30%;
        float:right;
}

#sidebar ul {
	list-style: none;
}

#sidebar ul li {
	padding: 10.8% 0 10.8% 0;
	border-top: dotted 1px #C5CDD8;
}

#sidebar ul li.first {
	border-top: 0;
	padding-top: 0;
}

#wrapper {
        position:relative;
        top:1%;
	margin: 0 auto 0 auto;
	padding: 6% 0 0 0;
	width: 72.5%;
        z-index: 1;
}

/*Implementacion Responsive Web Design*/
@media screen and  (max-width:1400px){
    body{
        font-size: 1em;
    }
    
}

@media screen and (max-width:860px){
    
    
    #truck , #truck2{
        height: 9em;
        width: 10em
    }
    
    #header{
        height: 9em
    }
    
    #menu{
        font-size: 130%;
        width: 115%;
        float:right;
        top:127%;
        position:absolute;
        z-index: 11;
      }
      #menu li{
          position: relative;
          z-index: 11;
      }
      
      #page{
          top:2em;
          margin-bottom: 4em
      }
      
      .log{
          z-index: 1
      }
      
      #content{
          width:90%;
          float:left;
      }
      
      #sidebar {
          width:96%;
          height: 4em;
          margin: 0 0 4% 0;
          padding: 0 2% 0 2%;
          background-color: #FE9A2E;
          background-image: none;
          padding-bottom: 3em
              
              
      }
      
      #box{
          display:none;
      }
      #box2{
          text-align: center;
          display: inline;
          text-decoration-color: black;
          background-color: #FE9A2E;
          margin-bottom: 1em;
          
      }
      
        
}
    
    
    


@media screen and (max-width: 480px){
    
    
}